# API
API_HOST=127.0.0.1
API_PORT=3000

#API_ENV=aws
API_ENV=local
API_URL_LOCAL=http://127.0.0.1:3000/api/
API_URL_AWS=http://<ec2>/api/

### Database (Postgres) Localhost
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=hyperliquid_trade
DB_USER=postgres
DB_PASS=postgres
DB_SSL=false

### Database (Postgres) Aws
#DB_HOST=aws_host
#DB_PORT=5432
#DB_NAME=coin
#DB_USER=postgres
#DB_PASS=postgres
#DB_SSL=false

# Telegram
TELEGRAM_BOT_TOKEN=xxx
TELEGRAM_CHAT_ID=xxx

# Bot timezone (optional)
BOT_TZ=America/Edmonton

HYPERLIQUID_TESTNET=0